@model List<UserViewModel>
<h2>Welcome to UserIndex!</h2>
@{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Email</th>
                <th scope="col">Subscription type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <th scope="row">@user.Id</th>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td>@user.SubscriptionType</td>
                </tr>
            }
        </tbody>
    </table>
}